body {
	//width: 500px;
}

.date {
	text-align: center;
	padding: .5rem;
	font-size: 2rem;
	color: #fff;
	background-color: #999;
}

.chart {
	max-width: 500px;
}
.block {
	margin-bottom: 9rem;
	margin-top: 3rem;
}

.title {
	font-size: 2rem;
	text-align: center;
	border-bottom: 1px solid #ccc;
	margin-top: 2rem;
}

.title2 {
	font-size: 1.5rem;
	text-align: center;
	margin-top: 2rem;
	border-bottom: 1px solid #ccc;
}

.infected {
	font-size: 3rem;
	text-align: center;
}

.tested {
	font-size: 1.5rem;
	text-align: center;
}

.rate {
	font-size: 1rem;
	text-align: center;
}

.hospital {
	font-size: 1rem;
	text-align: center;
}

.positiverate, .inzidenzrate, .numhospital, .numicu {
	margin: 0 0.5rem 0 0.5rem;
}
